.card-header-toolbar {
  --background: transparent;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-title ion-title {
  font-weight: bold;
  font-size: 1.2em;
  color: #4caf50;
}

.header-date {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 0.9em;
}

.date-text {
  font-size: 0.8em;
  margin-left: 4px;
}

.header-date ion-icon {
  color: #4caf50;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #ddd;
  border-radius: 50%;
  margin-bottom: -20px;
}

.circle.active {
  background-color: #4caf50;
}

.step-icon {
  width: 60px;
  height: 60px;
}

.step-label {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}

.progress-bar {
  --progress-background: #ddd;
  --progress-buffer-background: #4caf50;
  margin-top: 20px;
  height: 6px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.rating {
  display: flex;
  gap: 4px;
}

.star {
  font-size: 1.5em;
  color: #ddd; /* Color de estrellas vacías */
}

.star.filled {
  color: #ffc107; /* Color de estrellas llenas */
}
