<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Todos los servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <!-- Encabezado de la tarjeta -->
    <ion-header>
      <ion-toolbar class="card-header-toolbar">
        <div class="header-content">
          <div class="header-title">
            <ion-title>$8000 - Combo personal</ion-title>
          </div>
          <div class="header-date">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-text class="date-text">05-11-2024</ion-text>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>
  
    <ion-card-content>
      <!-- Contenido del timeline -->
      <div class="timeline">
        <!-- Paso 1: Abierto -->
        <div class="step">
          <span class="step-label">Abierto</span>
          <div class="circle active">
            <img src="assets/img/abierto.gif" alt="Abierto" class="step-icon" />
          </div>
        </div>
        <!-- Paso 2: Asignado -->
        <div class="step">
          <span class="step-label">Asignado</span>
          <div class="circle active">
            <img src="assets/img/barbero.gif" alt="Asignado" class="step-icon" />
          </div>
        </div>
        <!-- Paso 3: Cerrado -->
        <div class="step">
          <span class="step-label">Cerrado</span>
          <div class="circle">
            <img src="assets/img/realizado.gif" alt="Cerrado" class="step-icon" />
          </div>
        </div>
      </div>
  
      <!-- Barra de progreso -->
      <ion-progress-bar class="progress-bar" value="0.50" buffer="0.75" color="success"></ion-progress-bar>
    </ion-card-content>
  
    <!-- Contenedor del botón y rating -->
    <div class="footer-container">
      <div class="rating">
        <ion-icon name="star" class="star filled"></ion-icon>
        <ion-icon name="star" class="star filled"></ion-icon>
        <ion-icon name="star" class="star filled"></ion-icon>
        <ion-icon name="star-outline" class="star"></ion-icon>
        <ion-icon name="star-outline" class="star"></ion-icon>
      </div>
      <ion-button color="danger">
        <ion-text color="light">Eliminar</ion-text>
      </ion-button>
    </div>
  </ion-card>
  
  
  

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>

