.card-header-toolbar {
  --background: transparent;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.header-title {
  color: white;
  font-weight: bold;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-title ion-title {
  font-weight: bold;
  font-size: 1.1em;
  color: #4caf50;
}

.header-date {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 1.0em;
}

.date-text {
  font-size: 0.8em;
  margin-left: 4px;
}

.header-date ion-icon {
  color: #4caf50;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #ddd;
  border-radius: 50%;
  margin-bottom: -20px;
}

.circle.active {
  background-color: #4caf50;
}

.step-icon {
  width: 60px;
  height: 60px;
}

.step-label {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}

.progress-bar {
  --progress-background: #ddd;
  --progress-buffer-background: #4caf50;
  margin-top: 20px;
  height: 6px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.rating {
  display: flex;
  gap: 4px;
}

.star {
  font-size: 1.5em;
  color: #ddd; /* Color de estrellas vacías */
}

.star.filled {
  color: #ffc107; /* Color de estrellas llenas */
}

.empty-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #4a4a4a; /* Color de texto más suave */
  padding: 20px;
}

.empty-services h2 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #ddd;
  font-weight: bold;
}

.empty-services img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
  border-radius: 8px; /* Borde redondeado */
  background-color: #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.empty-services p {
  font-size: 16px;
  color: #666666;
  margin-top: 8px;
  line-height: 1.4;
}

